//colores 
$color-de-fondo:#F8EDED;

$color-tipografia: black; 

$color-grillas: #f8f9fa;

$color-contenedor-servicios:#fff;

$color-banner-uno:#B43F3F;

$color-banner-dos:rgba(255, 130, 37, 0.7);

$color-resaltar-texto:#173B45;
